{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    You have finished this session!<br>
{% endblock %}
{% block content %}

<p> Make sure to bring your <b>university ID</b> and <b>Sona ID number</b> to the second {{player.participant.sample_meal_time}} session at <b>Location
    on {{player.participant.sample_meal_day}} the {{player.participant.sample_meal_date}}</b>.</p>

<p> Also, make sure to bring your <b>university ID</b> and <b>Sona ID number</b>to the third {{player.participant.next_meal_time}} session at <b>Location
    on {{player.participant.next_meal_day}} the {{player.participant.next_meal_date}}</b>.</p>

<p>We will send a reminder closer to these dates</p>
    {% next_button %}
{% endblock %}


