{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    You have finished this session!<br>
{% endblock %}
{% block content %}

{{ if player.participant.rand_outcome == "No_BDM" }}


<p> Make sure to bring your <b>university ID</b> and <b>Sona ID number</b> to the second {{player.participant.sample_meal_time}} session at <b>12:30pm</b> at <b>Location
    on {{player.participant.sample_meal_day}} the {{player.participant.sample_meal_date}}</b>.</p>

<p> Also, make sure to bring your <b>university ID</b> and <b>Sona ID number</b>to the third {{player.participant.next_meal_time}} session at <b>12:30pm</b> at <b>Copland Courtyard
    on {{player.participant.next_meal_day}} the {{player.participant.next_meal_date}}</b>.</p>

<p>We will send a reminder closer to these dates</p>

{{ endif }}

{{ if player.participant.rand_outcome == "Yes_BDM" }}

Make sure to bring your <b>university ID</b> and <b>Sona ID number</b>to the third {{player.participant.next_meal_time}} session at <b>12:30pm</b> at <b>Copland Courtyard
    on {{player.participant.next_meal_day}} the {{player.participant.next_meal_date}}</b>.</p>

<p>We will send a reminder closer to this dates</p>

{{ endif }}


    {% next_button %}
{% endblock %}


