{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
    Random Selection Results
{% endblock %}
{% block content %}

<style>

div.remind {
  border: 3px dashed red;
  text-align: center;
}
div.opt1 {
  border: 2px solid black;
  text-align: center;
}

div.opt2 {
  border: 2px solid black;
  text-align: center;
}

ul { display: inline-block; text-align: left; }



</style>

<p>
    Thank you for choosing your version food-menu pairs.
    I randomly selected your  choice.
    This means you will have to complete the following food-menu pair:
</p>

{{ if player.participant.treatment_used1 == 'Blunder'}}
    {{ if player.Blunder_Task_Choice == "Option 1" }}
        <div class = "opt1">
        <p>
            Eat the <strong>{{Good_Task}}</strong> at the end of this session. <br>
            After eating the <strong>{{Good_Task}}</strong>, you must choose <strong>one</strong> of the following foods to eat at the dinner session:
        </p>
            <ul>
                <li>{{remaining_tasks.0}}</li>
                <li>{{remaining_tasks.1}}</li>
            </ul>
        </div>
    {{ else }}
        <div class = "opt2">
        <p>
            Eat the <strong>{{Bad_Task}}</strong> at the end of this session. <br>
            After eating the <strong>{{Bad_Task}}</strong>, you must choose <strong>one</strong> of the following foods to eat at the dinner session:
        </p>
            <ul>
                <li>{{remaining_tasks.0}}</li>
                <li>{{remaining_tasks.1}}</li>
            </ul>
        </div>
    {{ endif }}
{{ else }}
    {% with control=True %}
        {{ if player.Control_Task_Choice == "Option 1" }}
            {{ include 'Choice/Option1.html'}}
        {{ else }}
            {{ include 'Choice/Option2.html'}}
        {{ endif }}
    {% endwith %}
{{ endif }}


<br>
Here are the results from your switch-point procedure.

    {{ if player.participant.rand_outcome == "No_BDM" }}
<p>
    None of the switch-point questions were selected. <br>
</p>
    {{ endif }}

    {{ if player.participant.rand_outcome == "Yes_BDM" }}
<p>
    One of the switch-point questions was selected. <br>
    I randomly selected {{player.participant.rand_task}} as the meal. <br>
    I randomly selected question number {{player.participant.BDM_Num}} as the question, which corresponds to ${{BDM_Payout|to2}}. <br>
    Your switch-point for this task was ${{ player.participant.switch_point|to2 }}. <br>
</p>
<br>
        {{if player.participant.switch_point > player.participant.BDM_Num}}
    <p>
        Your switch-point was higher than the selected question. <br>
        This means you said that you prefer eating {{player.participant.rand_task}} to the money. <br>
        You will be able to eat {{player.participant.rand_task}} at the second session.
    </p>
        {{endif}}

        {{if player.participant.BDM_Num >= player.participant.switch_point }}
    <p>
        Your switch-point was lower than the selected question. <br>
        This means you said that you prefer the money to eating {{player.participant.rand_task}}. <br>
        You will receive the money at the end of this session.
    </p>
        {{endif}}

    <br>

    {{ endif }}

<p>
    You will be able to complete your chosen sample-menu pair at the next session. <br>
    To finish this session, you will need to complete a demographic survey.<br>
    Click the next button to continue to the survey <br>
</p>

<br> <br>

    {% next_button %}




{% endblock %}

