{% extends "global/Page.html" %}
{% load otree static %}
{% block title %}
    Random Selection Results
{% endblock %}
{% block content %}

<style>

div.remind {
  border: 3px dashed red;
  text-align: center;
}
div.opt1 {
  border: 2px solid black;
  text-align: center;
}

div.opt2 {
  border: 2px solid black;
  text-align: center;
}

ul { display: inline-block; text-align: left; }



</style>

<p>
    Thank you for choosing your sample-menu pairs.
    {{ if player.participant.rand_outcome == "Yes_BDM" }}
<p>
    I randomly selected a switch-point question, which means you will not be able to complete one of the chosen sample-menu pairs. <br>
    I randomly selected {{player.participant.rand_task}} as the meal. <br>
    I randomly selected question number {{player.participant.BDM_Num}} as the question, which corresponds to ${{BDM_Payout|to2}}. <br>
    Your switch-point for this task was ${{ player.participant.switch_point|to2 }}. <br>
</p>
<br>
        {{if player.participant.switch_point > BDM_Payout}}
    <p>
        Your switch-point was higher than the selected question. <br>
        This means you said that you prefer eating {{player.participant.rand_task}} to the money. <br>
        You will be able to eat {{player.participant.rand_task}} at the second session, and do not need to return to the third session.
    </p>
        {{endif}}

        {{if BDM_Payout >= player.participant.switch_point }}
    <p>
        Your switch-point was lower than the selected question. <br>
        This means you said that you prefer the money to eating {{player.participant.rand_task}}. <br>
        You will receive the money at the second session, and do not need to return to the third session.
    </p>
        {{endif}}

    <br>

    {{ endif }}



{{ if player.participant.rand_outcome == "No_BDM" }}
I randomly selected the following sample-menu pair, and did not select a switch-point question.<br>
This means you will need to complete the following sample-menu pair: <br>
{{ if player.participant.treatment_used1 == 'Blunder'}}
    {{ if player.Blunder_Task_Choice == "Option 1" }}
        <div class = "opt1">
        <p>
            Eat the <strong>{{Good_Task}}</strong> at the end of this session. <br>
            After eating the <strong>{{Good_Task}}</strong>, you must choose <strong>one</strong> of the following foods to eat at the dinner session:
        </p>
            <ul>
                <li>{{remaining_tasks.0}}</li>
                <li>{{remaining_tasks.1}}</li>
            </ul>
        </div>
    {{ else }}
        <div class = "opt2">
        <p>
            Eat the <strong>{{Bad_Task}}</strong> at the end of this session. <br>
            After eating the <strong>{{Bad_Task}}</strong>, you must choose <strong>one</strong> of the following foods to eat at the dinner session:
        </p>
            <ul>
                <li>{{remaining_tasks.0}}</li>
                <li>{{remaining_tasks.1}}</li>
            </ul>
        </div>
    {{ endif }}
{{ else }}
    {% with control=True %}
        {{ if player.Control_Task_Choice == "Option 1" }}
            {{ include 'Choice/Option1.html'}}
        {{ else }}
            {{ include 'Choice/Option2.html'}}
        {{ endif }}
    {% endwith %}
{{ endif }}
{{ endif }}

<p>
    To finish this session, you will need to answer some questions.<br>
    Click the next button to continue. <br>
</p>

<br> <br>

    {% next_button %}




{% endblock %}

