{% extends "global/Page.html" %}
{% load otree static %}

{% block title %}
    Choose tasks to complete
{% endblock %}

{% block content %}
<p>
    In this stage of the experiment, you will choose some foods to eat at the second session, and a sample to eat at this session. <br>
    Instead of selecting foods directly, you will have to choose a <b>food-menu pair</b>. <br>
</p>

<h4>What are food-menu pairs?</h4>
<p>
    A food-menu pair consists of a single food, and a list of foods. <br>
    To complete a food-menu pair, you must first eat the single food at the end of this session. <br>
    After eating the single food, you will be able to choose a food from the list at the second session and eat that food at the second session. <br>
</p>

<h4>What you need to do</h4>

<p>
    You will need to choose 2 food-menu pairs. <br>
    I will randomly select one food-menu pair for you to complete.
</p>
<br>


<p>
    Remember, the choices you make now will <b>affect</b> the food you eat at the second session, and the sample you eat at this session.<br>
    Click the next button to choose your food-menu pairs. <br>
</p>
    {% next_button %}




{% endblock %}
